/* 首页内容的样式 */
/* banner */
.banner {
    height: 500px;
    background-color: #f5f5f5;
}

.banner .wrapper {
    position: relative;
    height: 500px;
    background-color: pink;
    overflow: hidden;
}

/* 图片 */
.banner .pic {
    display: flex;
    /* flex 布局，父级宽度不够，子级被挤小，增大父级尺寸 */
    width: 3720px;
}

/* 侧导航 */
.subnav {
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.42);
}

.subnav li {
    display: flex;
    justify-content: space-between;
    padding: 0 12px 0 30px;
    height: 50px;
    /* background-color: pink; */
    line-height: 50px;
    color: #fff;
}

.subnav li:hover {
    background-color: #00BE9A;
}

.subnav li a {
    margin-right: 5px;
    font-size: 14px;
    color: #fff;
}

.subnav li a:first-child {
    margin-right: 14px;
    font-size: 16px;
}

.subnav li .iconfont {
    font-size: 14px;
}

/* 圆点指示器 */
.banner ol {
    display: flex;
    position: absolute;
    bottom: 17px;
    right: 16px;
}

.banner ol li {
    margin-left: 8px;
    width: 22px;
    height: 22px;
    /* background-color: pink; */
    border-radius: 50%;
    cursor: pointer;
}

.banner ol i {
    display: block;
    margin: 4px;
    width: 14px;
    height: 14px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

.banner ol .active {
    background-color: rgba(255, 255, 255, 0.5);
}

.banner ol .active i {
    background-color: #fff;
}

/* 新鲜好物 */
/* 标题 - 公共样式 */
.title {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 30px;
    height: 42px;
    /* background-color: pink; */
}

.title .left {
    display: flex;
}

.title .left h3 {
    margin-right: 35px;
    font-size: 30px;
}

.title .left p {
    align-self: flex-end;
    color: #a1a1a1;
}

.title .right .more {
    line-height: 42px;
    color: #a1a1a1;
}

.title .right .more .iconfont {
    margin-left: 10px;
}

/* 内容 - 公共样式 */
.bd ul {
    display: flex;
    justify-content: space-between;
}

.bd li {
    width: 304px;
    height: 404px;
    background-color: #eef9f4;
}

.bd li .pic {
    width: 304px;
    height: 304px;
}

.bd li .text {
    text-align: center;
}

.bd li h4 {
    margin-top: 18px;
    margin-bottom: 8px;
    font-size: 20px;
}

.goods .bd p {
    font-size: 18px;
    color: #aa2113;
}

.goods .bd p span {
    font-size: 22px;
}

/* 人气推荐 */
.recommend .bd li {
    background-color: #fff;
}

.recommend .bd p {
    color: #a1a1a1;
}